<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Datavisualizationbook by wadefagen</title>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Datavisualizationbook</h1>
        <p></p>

        <p class="view"><a href="https://github.com/wadefagen/DataVisualizationBook">View the Project on GitHub <small>wadefagen/DataVisualizationBook</small></a></p>

        <ul>
          <li><a href="https://github.com/wadefagen/DataVisualizationBook/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/wadefagen/DataVisualizationBook/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/wadefagen/DataVisualizationBook">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{content}}
      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
